extends layout

block content
  h1 CV de David
  div
    h2 Estudios
    div
      ul
        li Bachillerato
        li Android Developer Google
    div
      h2 Expediente laboral
      ul
        li Autonomo
        li Copiar Pegar Digital
        li Jakinbidea
        li Plexxoo
    div
      h2 Idiomas
      ul
        li Español
        li Inglés



